<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Details Table</title>
</head>
<body>
<h1>Person details</h1>
<div class="container">
<table class="table table-bordered">
<thead>
<tr>
<th>Person</th>
<th>Group</th>
<th>Age</th>
</tr>
</thead>
{% for disp in q %}
<tbody>
<tr>
<td>{{disp.person}}</td>
<td>{{disp.groupp}}</td>
<td>{{disp.age}}</td>
</tr>
</tbody>
{% endfor %}
</table>
</div>
</body>
</html>